apiVersion: -v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: hot-storage
  resources:
    requests:
      storage: 1Gi
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: recyclarr
  namespace: media
spec:
  schedule: "@daily" # Run once a day
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: recyclarr
        spec:
          restartPolicy: OnFailure
          securityContext:
            fsGroup: 1000
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          container:
            - name: recyclarr
              image: ghcr.io/recyclarr/recyclarr:latest
              imagePullPolicy: IfNotPresent
              command: ["recyclarr", "sync"]
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
              env:
                - name: TZ
                  value: "Etc/UTC"
              volumeMounts:
                - name: config
                  mountPath: /config
                - name: tmp
                  mountPath: /tmp
          volumes:
            - name: config
              persistentVolumeClaim:
                claimName: recyclarr-config
            - name: tmp
              emptyDir: {}
